<form>
	<table cellspacing="6" width="100%">
		<tr>
			<td width="90">上级菜单：</td>
			<td><input class="easyui-combotree" data-options="url:'<{:U('System/public_menuSelectTree')}>'" name="info[parentid]" value="<{$data.parentid}>" style="width:230px;height:24px" /></td>
		</tr>
		<tr>
			<td>菜单名称：</td>
			<td><input class="easyui-validatebox" data-options="required:true,validType:['length[2,20]','remote[\'<{:U('System/public_menuNameCheck', array('default'=>$data['name']))}>\',\'name\']']" name="info[name]" value="<{$data.name}>" type="text" style="width:220px" /></td>
		</tr>
		<tr>
			<td>模块名：</td>
			<td><input class="easyui-validatebox" data-options="required:true,validType:['controller','length[0,20]']"  name="info[c]" value="<{$data.c}>" type="text" style="width:220px" /></td>
		</tr>
		<tr>
			<td>方法名：</td>
			<td><input class="easyui-validatebox" data-options="required:true,validType:['action','length[0,20]']"  name="info[a]" value="<{$data.a}>" type="text" style="width:220px" /></td>
		</tr>
		<tr>
			<td>附加参数：</td>
			<td><input class="easyui-validatebox" data-options="validType:['querystring','length[0,200]']"  name="info[data]" value="<{$data.data}>" type="text" style="width:220px" /></td>
		</tr>
		<tr>
			<td>是否显示菜单：</td>
			<td>
				<label><input name="info[display]" value="1" type="radio" <eq name="data.display" value="1">checked</eq> />是</label>
				<label><input name="info[display]" value="0" type="radio" <eq name="data.display" value="0">checked</eq> />否</label>
			</td>
		</tr>
	</table>
</form>