<link rel='shortcut icon' href='__STATIC__/favicon.ico' />
<script type="text/javascript">var STATIC_URL = '__STATIC__',UPLOAD_ROOT = './Public/upload/';</script>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.cookie.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.json.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="__STATIC__/js/easyui/plugins/jquery.portal.js"></script>
<link rel="stylesheet" href="__STATIC__/js/croppic/croppic.css"/>
<script type="text/javascript" src="__STATIC__/js/croppic/croppic.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.app.js"></script>
<include file="Common:theme"/>